<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>PrimeStage</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>PrimeStage</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>app-1-2456262485-ios-83e8b32c58072205d4c1dc</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
        </array>
		<key>LSMinimumSystemVersion</key>
		<string>12.0</string>
		<key>NSAccessibilityUsageDescription</key>
		<string>Our app needs access to accessibility features for improved user experience.</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSAppleEventsUsageDescription</key>
		<string>Our app needs access to interact with other apps and system features.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need your location to continuously update nearby artists and check service availability, even when the app is running in the background.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need access to your location to show nearby artists and to help you fill in your address automatically when booking an artist.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires access to your photos and videos so you can upload them and showcase them within the app for other users to view. </string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
        <false/>
	</dict>
</plist>
